.productList {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #d6d6dc;
  margin: 0;
  gap: 30px;
}

.title {
  font-weight: 800;
  font-size: 24px;
  padding-left: 40px;
}

.headerWrapp {
  display: flex;
  gap: 30px;
}

.headerStarWrapp,
.headerCartWrapp {
  position: relative;
  display: flex;
}

.shoppingCart,
.shoppingStar {
  width: 30px;
  height: 30px;
  padding: 0;
}

.spanCardCounter,
.spanStarCounter {
  position: absolute;
  background-color: #65e161;
  width: 20px;
  height: 20px;
  right: -12px;
  top: -7px;
  border-radius: 50%;
  text-align: center;
}